@page "/Inicio-Sesion"
@page "/Inicio-Sesion/{Error:bool}"
@inject IJSRuntime JS

<div class="container">
    <main role="main" class="pb-1">
        <h1>Iniciar sesión</h1>
        <div class="row">
            <div class="col-md-4">
                <section>
                    <EditForm Model="@Usuario" OnValidSubmit=@IniciarSesion>
                        <div class="form-group">
                            <label for="InputCedula">Cédula</label>
                            <input class="form-control" type="text" @bind="Usuario.Cedula" id="InputCedula" />
                            <ValidationMessage For="@(() => Usuario.Cedula)" />
                        </div>
                        <div class="form-group">
                            <label for="InputContrasenia">Contraseña</label>
                            <div class="input-group">
                                <input class="form-control" type="password" @bind="Usuario.Contrasenia" id="Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-eye" id="MyEye" onclick="myFunction()"> </i></span>
                                </div>
                                <ValidationMessage For="@(() => Usuario.Contrasenia)" />
                            </div>
                         </div>
                        @if (Error)
                        {
                            <div class="form-group">
                                <label class="alert-danger">La cédula o contraseña es incorrecta</label>
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                        <DataAnnotationsValidator />
                    </EditForm>
                </section>
            </div>
        </div>
    </main>
</div>
<footer class="footer border-top pl-3 text-muted">
    <div class="container">
        © 2019 - SAEE WEB
    </div>
</footer>

@code {

    InfoUsuario Usuario = new InfoUsuario();
    [Parameter]
    public bool Error { get; set; }

    void IniciarSesion()
    {
        JS.InvokeAsync<object>("IniciarSesion", Usuario.Cedula, Usuario.Contrasenia);
    }
}
