@inject GruposServices gruposServices
@inject NavigationManager navegar


<div class="card-body border rounded">
    <EditForm Context="formContext" Model="@nuevoGrupo">
        <div class="form-group">
            <h4>Agregando Grupo</h4>
            <label for="InputGrupo"><strong>Grupo (Obligatorio)</strong></label>
            <input class="form-control" type="text" id="InputGrupo" placeholder="Grupo" @bind="nuevoGrupo.Grupo" />
            <ValidationMessage For="@(() => nuevoGrupo.Grupo)" />
        </div>
        
        <button type="submit" class="btn btn-success" name="btn1" @onclick="@(() => crearGrupo())">Crear Grupo</button>
        <DataAnnotationsValidator />
    </EditForm>
</div>
@code {
    [Parameter] public Grupos nuevoGrupo { get; set; }
    [Parameter] public int IdProfesor { get; set; }
    [Parameter] public String msjError { get; set; }
    [Parameter] public Boolean MostrarError { get; set; }
    DateTime fechaActual = DateTime.Today;




    protected async Task crearGrupo()
    {
        if (nuevoGrupo.Grupo != null)
        {
            nuevoGrupo.IdProfesor = IdProfesor;
            nuevoGrupo.Anio = fechaActual.Year;
            Boolean exito = await gruposServices.PutGrupo(nuevoGrupo);
            if (exito)
            {
                navegar.NavigateTo("indice-grupos/1", true);
            }
            else { msjError = "No se pudo crear este grupo."; MostrarError = true; }
        }

    }


}
