@inject GruposServices gruposServices
@inject NavigationManager navegar



    <MatDialog @bind-IsOpen="@dialogIsOpen" CanBeClosed="false">
        <MatDialogTitle>Borrando Grupo</MatDialogTitle>
        <MatDialogContent>
            <text> ¿Realmente desea borrar el grupo "@grupo.Grupo"?</text>
        </MatDialogContent>
        <MatDialogActions>
            <div>
                <button type="button" class="btn btn-secondary" @onclick="CerrarEliminar">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="eliminarGrupo">Borrar</button>
            </div>
        </MatDialogActions>
    </MatDialog>
   

@code {
    [Parameter]
    public bool dialogIsOpen { get; set; }
    [Parameter] public Grupos grupo { get; set; }
    [Parameter] public EventCallback CerrarEliminar { get; set; }
    [Parameter] public Boolean MostrarError { get; set; }
    [Parameter] public String msjError { get; set; }
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
    protected async Task eliminarGrupo()
    {
        Boolean exito = await gruposServices.DeleteGrupo(grupo);
        if (exito)
        {
            navegar.NavigateTo("indice-grupos", true);

        }
        else { msjError = "No se pudo borrar este grupo."; MostrarError = true; }

    }

}
