@inject CursosServices ServicioCursos
@inject NavigationManager Navigation

<MatDialog @bind-IsOpen="@dialogIsOpen" CanBeClosed="false">
    <MatDialogTitle>Borrando curso</MatDialogTitle>
    <MatDialogContent>
        ¿Realmente desea borrar el curso "@Curso.Nombre" y toda su información relacionada?
    </MatDialogContent>
    <MatDialogActions>
        <div>
            <button type="button" class="btn btn-secondary" @onclick="CerrarEliminar">Cancelar</button>
            <button type="button" class="btn btn-primary" @onclick="EliminarCurso">Borrar</button>
        </div>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter]
    public bool dialogIsOpen { get; set; }
    [Parameter]
    public Cursos Curso { get; set; }
    [Parameter]
    public EventCallback CerrarEliminar { get; set; }

    async Task EliminarCurso()
    {
        await ServicioCursos.DeleteCursos(Curso);
        Navigation.NavigateTo("cursos/3", true);
    }
}