@page "/cursos"
<div class="container">
    <h3>Administración de cursos</h3>

    <p>
        <button type="button" class="btn btn-primary" @onclick="AbrirCerrarFormAgregar">@TextoBotonAgregar</button>
    </p>
    @if (MostrarPanelAgregar)
    {
        <Create />
    }
    <br />
    <List />
</div>
@code {
    Boolean MostrarPanelAgregar = false;
    String TextoBotonAgregar = "Agregar curso";

    void AbrirCerrarFormAgregar()
    {
        Console.WriteLine("Hello");
        MostrarPanelAgregar = !MostrarPanelAgregar;
        if (MostrarPanelAgregar)
        {
            TextoBotonAgregar = "Ocultar Panel";
        }
        else
        {
            TextoBotonAgregar = "Agregar curso";
        }
    }
}
