@page "/evaluaciones-estudiante"
@page "/evaluaciones-estudiante/{Saludo:bool}"

<div class="container">
    <h3>Mis evaluaciones</h3>

</div>


@code {
    [Parameter]
    public bool Saludo { get; set; }

}
